body {
    background-color: #110014;
    width: 100%;
    height: 100%;
    color: white;
}

main {
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenu {
    width: 100%;
}

.box-titre {
    margin: 0 auto 10% auto;
    width: 100%;
    font-size: 4vw;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Okine Sans Medium';
}

.box-texte {
    width: 100%;
    margin-bottom: 10%;
    display: flex;
    flex-direction: row;
}
.box-infos {
    width: 50%;
}
.box-img {
    width: 50%;
}
.img {
    width: 100%;
}
.img-parcours {
    width: 70%;
    margin-top: 10%;
    margin-left: 20%;
}
.img-personalite {
    margin-top: -15%;
    margin-right: -10%;
}
.img-centres-interets {
    margin-top: -10%;
}

h1 {
    font-size: 3vw;
    font-family: 'Okine Sans Medium';
    text-transform: uppercase;
    margin-bottom: 3vw;
}

p {
    font-family: 'Open Sans Light';
    font-size: 1vw;
    line-height: 1.5vw;
}



.parcours .box-infos p {
    font-size: 1.5vw;
}


.personalite {
    display: flex;
    justify-content: flex-start;
    text-align: end;
}
.personalite p {
    font-size: 1.5vw;
    line-height: 3vw;
}


.centres-interets {
    margin-top: 10%;
    margin-bottom: 5%;
}
.centres-interets p {
    font-size: 1.5vw;
    line-height: 3vw;
}




@media (max-width: 420px) {
    .box-titre {
        margin: 10% 0;
        font-size: 6vw;
    }
    .box-img {
        display: none;
    }
    .box-infos {
        width: 100%;
        flex-direction: column;
        text-align: center;
        margin: 5% 0;
    }
    .box-infos h1 {
        font-size: 5vw;
    }
    .box-infos p {
        font-size: 4vw;
        line-height: normal;
        
    }

    .parcours .box-infos p {
        font-size: 4vw;
        text-align: center;
    }
}