body {
    background-color: #110014;
    width: 100%;
    height: 100%;
    color: white;
}

main {
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenu {
    width: 90%;
}

.box-titre {
    margin: 0 auto 10% auto;
    width: 100%;
    font-size: 4vw;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Okine Sans Medium';
}

.box-texte {
    width: 75%;
    margin-bottom: 10%;
}

h1 {
    font-size: 2.3vw;
    font-family: 'Okine Sans Medium';
    text-transform: uppercase;
    margin-bottom: 3vw;
}

p {
    font-family: 'Open Sans Light';
    font-size: 1vw;
    line-height: 1.5vw;
}

.personalite {
    margin-left: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: end;
}

.personalite p {
    font-size: 1.5vw;
    line-height: 3vw;
}
.centres-interets p {
    font-size: 1.5vw;
    line-height: 3vw;
}






@font-face {
    font-family: 'Okine Sans Medium';
    src: url(../font/OkineSans/MADEOkineSansPERSONALUSE-Medium.otf);
}

@font-face {
    font-family: 'Open Sans Light';
    src: url(../font/OpenSans/OpenSans-Light.ttf);
}


@font-face {
    font-family: 'Glacial Indifference Regular';
    src: url(../font/GlacialIndifference/GlacialIndifference-Regular.otf);
}