body {
    background-color: #110014;
    width: 100%;
    height: 100%;
    color: white;
}

main {
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenu {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.box-titre {
    margin: 0 auto;
    margin-top: 5%;
    width: 100%;
    font-size: 4vw;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Okine Sans Medium';
}
.box-pictos-comp {
    width: 100%; 
    display: flex ;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 5% 0;
}
.box-pictos-comp a {
    width: 20%;
    transition: 200ms ease-in-out;
}
.box-pictos-comp a:hover {
    transform: scale(1.08);
    box-shadow: 0px 0px 50px rgba(201, 0, 191, 0.5);
}
.picto {
    width: 100%;
}
.text-info {
    width: 100%;
    text-align: center;
    font-size: 1.5vw;
    font-family: 'Okine Sans Medium';
    font-style: italic;
}


.box-texte {
    width: 100%;
    margin: 10% 0;
}

h1 {
    font-size: 3vw;
    font-family: 'Okine Sans Medium';
    text-transform: uppercase;
    margin-bottom: 3vw;
}


.left {
    background: url(../img/competences-img/developper.png) no-repeat;
    background-position: 100% 10%;
    background-size: 40%;
}
.left2 {
    background: url(../img/competences-img/concevoir.png) no-repeat;
    background-position: 100% 10%;
    background-size: 40%;
}
.left3 {
    background: url(../img/competences-img/entreprendre.png) no-repeat;
    background-position: 100% 10%;
    background-size: 40%;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: end;
    align-self: flex-end;

    background: url(../img/competences-img/exprimer.png) no-repeat;
    background-position: 10% 0;
    background-size: 40%;
}
.right2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: end;
    align-self: flex-end;

    background: url(../img/competences-img/comprendre.png) no-repeat;
    background-position: 10% 0;
    background-size: 40%;
}


.box-texte .txt {
    font-size: 1.2vw;
    line-height: 2vw;
    font-family: 'Open Sans Light';
}
.box-logo-comp {
    width: 100%; 
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.box-logo-comp img {
    width: 8%;
}


.title-txt {
    font-family: 'Open Sans Bold';
}



@media (max-width: 420px) {
    .box-texte {
        background: none;
        flex-direction: column;
        text-align: center;
    }
    .box-texte h1 {
        font-size: 6vw;
    }
    .txt p {
        font-size: 3vw;
        line-height: normal;
    }
    .text-info {
        font-size: 3vw;
    }
}










@font-face {
    font-family: 'Okine Sans Medium';
    src: url(../font/OkineSans/MADEOkineSansPERSONALUSE-Medium.otf);
}

@font-face {
    font-family: 'Open Sans Light';
    src: url(../font/OpenSans/OpenSans-Light.ttf);
}
@font-face {
    font-family: 'Open Sans Bold';
    src: url(../font/OpenSans/OpenSans-Bold.ttf);
}


@font-face {
    font-family: 'Glacial Indifference Regular';
    src: url(../font/GlacialIndifference/GlacialIndifference-Regular.otf);
}
