body {
    background-color: #110014;
    /*background-color: rgb(16, 16, 16);*/
    width: 100%;
    height: 100%;
    color: white;
}
html {
    scroll-behavior: smooth;
}
main {
    /*border: 2px dashed orange;*/
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
a {
    text-decoration: none;
    color: white;
}










@font-face {
    font-family: 'Okine Sans Medium';
    src: url(../font/OkineSans/MADEOkineSansPERSONALUSE-Medium.otf);
}

@font-face {
    font-family: 'Open Sans Light';
    src: url(../font/OpenSans/OpenSans-Light.ttf);
}


@font-face {
    font-family: 'Glacial Indifference Regular';
    src: url(../font/GlacialIndifference/GlacialIndifference-Regular.otf);
}