header {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'Glacial Indifference Regular';
    font-size: 1.3vw;
}

.header-navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 3% 0 3% auto;
    padding: 1%;
    width: 50%;
    height: 20%;
}

.header-navbar a {
    margin: 3%;
    text-align: center;
    text-decoration: none;
    color: white;
    padding-bottom: 1%;
}

.header-navbar a:hover {
    outline: 2px;
    box-shadow: inset 0 -2px 0 #4b005c;
    color: #59006d;
}

.box-logo {
    width: 25%;
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.header-logo {
    width: 60%;
}

.header-nom {
    font-size: 3vw;
    font-family: 'Okine Sans Medium';
    /*color: #57266B;*/
    margin-left: -10%;
}

.header-logo img {
    width: 70%;

}








@font-face {
    font-family: 'Okine Sans Medium';
    src: url(../font/OkineSans/MADEOkineSansPERSONALUSE-Medium.otf);
}

@font-face {
    font-family: 'Open Sans Light';
    src: url(../font/OpenSans/OpenSans-Light.ttf);
}


@font-face {
    font-family: 'Glacial Indifference Regular';
    src: url(../font/GlacialIndifference/GlacialIndifference-Regular.otf);
}