.hero-profil_section {

}
.hero-profil_container {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}
.hero-profil_content {
}
.hero-profil_content p:nth-child(1) {
    margin-bottom: 2rem;
}
.hero-profil_media {
    box-shadow: 0px 0px 60px 20px rgba(143, 0, 131, 0.568);
    border: 0.2px solid rgb(66, 0, 63);
}
.hero-profil_media img {
    max-width: 400px;
}


.mon-cv_section {
}
.mon-cv_container {
    display: flex;
    justify-content: space-between;
}
.box-cv {
    max-width: 560px;
}
#map {
    perspective: 1000px;
    width: 70%;
    margin: auto;
}
#map img {
    transform: rotateX(10deg) rotateY(20deg);
    transition: transform 0.1s;
    box-shadow: 0px 0px 60px 20px rgba(143, 0, 131, 0.568);
    border: 0.2px solid rgb(66, 0, 63);
    width: 80%;
    height: 80%;
}

.mon-cv_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.mon-cv_text {
    display: flex;
    flex-direction: column;
}
.mon-cv_text {
    text-align: end;
}
.mon-cv_text h1 {
    margin-bottom: 2rem;
}
.mon-cv_btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.mon-cv_btn a {
    text-decoration: none;
}
.mon-cv_btn a button {
    
}



















@font-face {
    font-family: 'Okine Sans Medium';
    src: url(../font/OkineSans/MADEOkineSansPERSONALUSE-Medium.otf);
}

@font-face {
    font-family: 'Open Sans Light';
    src: url(../font/OpenSans/OpenSans-Light.ttf);
}


@font-face {
    font-family: 'Glacial Indifference Regular';
    src: url(../font/GlacialIndifference/GlacialIndifference-Regular.otf);
}