.header-burger {
    display: none;
}


@media (max-width: 850px) {
    .header-burger {
        display: block;
    }
    .header-navbar {
        display: none;
    }

    #sidebarMenu {
        height: 100%;
        position: fixed;
        left: 0;
        width: 35vw;
        transform: translateX(-100%);
        margin-top: 6vw;
        transition: transform 250ms ease-in-out;
        background: linear-gradient(180deg, #110014 0%, #300039 100%);
        opacity: 0.9;
        z-index: 99;
    }
    .sidebarMenuInner li{
        list-style: none;
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
        padding: 20px;
        cursor: pointer;
        font-size: 2.5vw;
        margin-top: 5%;
        display: flex;
        align-items: center;
        font-family: 'Open Sans Light';
        border-bottom: 1px solid rgba(255, 255, 255, 0.10);
    }
    .sidebarMenuInner li a{
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
        cursor: pointer;
        text-decoration: none;
    }
    input[type="checkbox"]:checked ~ #sidebarMenu {
        transform: translateX(0);
    }
    
    input[type=checkbox] {
        transition: all 0.3s;
        box-sizing: border-box;
        display: none;
    }
    .sidebarIconToggle {
        transition: all 0.3s;
        box-sizing: border-box;
        cursor: pointer;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 22px;
        left: 15px;
        height: 22px;
        width: 22px;
    }
    .spinner {
        transition: all 0.3s;
        box-sizing: border-box;
        position: absolute;
        height: 3px;
        width: 100%;
        background-color: #fff;
    }
    .horizontal {
        transition: all 0.3s;
        box-sizing: border-box;
        position: relative;
        float: left;
        margin-top: 3px;
    }


    .diagonal.part-1 {
        position: relative;
        transition: all 0.3s;
        box-sizing: border-box;
        float: left;
    }
    .diagonal.part-2 {
        transition: all 0.3s;
        box-sizing: border-box;
        position: relative;
        float: left;
        margin-top: 3px;
    }
    input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
        transition: all 0.3s;
        box-sizing: border-box;
        opacity: 0;
    }
    input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
        transition: all 0.3s;
        box-sizing: border-box;
        transform: rotate(135deg);
        margin-top: 8px;
    }
    input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
        transition: all 0.3s;
        box-sizing: border-box;
        transform: rotate(-135deg);
        margin-top: -9px;
    }
}

@media (max-width: 450px) {
    .sidebarIconToggle {
        z-index: 99;
    }
}